<ul>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Use Group</th>
                    <th>Hours</th>
                </tr>
            </thead>
            <tbody>
                <% for (const [reason, hours] of engineHoursMap.entries()) { %>
                    <tr>
                        <td><%= reason %></td>
                        <td><%= hours.toFixed(2) %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>

</ul>
<div class="mt-3">
    <strong>Total Engine Hours:</strong>
    <span id="totalEngineHours"><%= totalEngineHours.toFixed(2) %></span>
</div>