<div style="text-align: center;">
    <h2><%= boatName %> is now checked out to you.</h2>
    <h3>Please check back in on your return</h3>
</div>
<form id="theForm" action="#" method="post">
    <input type="hidden" name="hiddenField" value="hiddenValue">
</form>
<script>
    function isValid() {
        return true
    }
</script>