<h1>All done - if only it were that simple</h1>
<form id="theForm" method="post" action="/submit" style="display: none;">
    <input type="hidden" name="field1" value="value1">
</form>
<script>
    function isValid() {
        return true
    }
</script>