<h1 class="mb-4">Report a Fault</h1>
<form id="theForm">
    <div class="mb-3">
        <label for="faultDetails" class="form-label">Fault Details</label>
        <textarea class="form-control" id="faultDetails" name="faultDetails" placeholder="Describe the fault" rows="5" required></textarea>
        </div>
</form>
<script>
    function isValid() {
        // returns true if the textarea has text in it
        const faultDetails = document.getElementById('faultDetails').value.trim();
        return faultDetails !== '';
    }
</script>